@startuml
skinparam rectangle {
    StereotypeFontSize 10
    FontSize 14
    BackgroundColor<<requirement>> Wheat
    BorderColor<<requirement>> Brown
}

package "Mémoire" {
    rectangle "PGE_REQ_MEM_02_02_01-1\nLa mémoire de simulateur doit reproduire le comportement d'une mémoire de microcontrôleur, en tenant compte de ses caractéristiques et limitations." as REQ1 <<requirement>>
    rectangle "PGE_REQ_MEM_02_02_02-1\nLa mémoire de simulateur doit permettre la lecture, l'écriture et l'effacement de données dans la mémoire simulée." as REQ2 <<requirement>>
    rectangle "PGE_REQ_MEM_02_02_03-1\nLa mémoire de simulateur doit être déployable sur l'environnement Windows, assurant ainsi une portabilité pour les développeurs." as REQ3 <<requirement>>
    rectangle "PGE_REQ_MEM_02_02_04-2\nLa mémoire du simulateur doit communiquer avec les pilotes mémoires en utilisant un bus de communication." as REQ4 <<requirement>>
    rectangle "PGE_REQ_MEM_02_02_05-2\nLa mémoire de simulateur doit avoir la capacité de sauvegarder l'état actuel de la simulation, incluant les positions, les paramètres, les variables et autres données pertinentes qui décrivent la configuration du système simulé à un moment donné." as REQ5 <<requirement>>
    rectangle "PGE_REQ_MEM_02_02_06-2\nLa mémoire de simulateur doit être en mesure de conserver l'historique des données de simulation." as REQ6 <<requirement>>
    rectangle "PGE_REQ_MEM_02_02_07-2\nLa mémoire de simulateur doit contribuer au processus de débogage en enregistrant des informations sur les erreurs survenues pendant la simulation, assurant ainsi une gestion efficace des erreurs." as REQ7 <<requirement>>
}

@enduml