
@startuml
skinparam package {
    BackgroundColor White
    BorderColor Black
}

skinparam rectangle {
    StereotypeFontSize 10
    FontSize 12
    BackgroundColor<<requirement>> Wheat
    BorderColor<<requirement>> Brown
    Shadowing false
}

title Exigences du simulateur de mémoire

package "Exigences de la Mémoire Simulée" {
    rectangle "PGE_REQ_MEM_02_02_01-1\nComportement similaire\nà un microcontrôleur\n- RAM : 512k x 8 bits\n- Code Flash : 6144 kB\n- Data Flash : 256 kB" as REQ1 <<requirement>>
    rectangle "PGE_REQ_MEM_02_02_02-1\nSupporte lecture,\nécriture et effacement\n- Lecture de données\n- Ecriture des données\n- Effacement de données" as REQ2 <<requirement>>
    rectangle "PGE_REQ_MEM_02_02_03-1\nDéployable sur\nWindows\n- Compatibilité avec\n   l'architecture Windows\n- Utilisation optimale des\n   ressources système\n- Compatibilité avec les\n   politiques de sécurité de\n   Windows" as REQ3 <<requirement>>
}

package "Communication et Données" {
    rectangle "PGE_REQ_MEM_02_02_04-2\nCommunique via un\nbus de communication" as REQ4 <<requirement>>
    rectangle "PGE_REQ_MEM_02_02_05-2\nSauvegarde de l'état de\nla simulation" as REQ5 <<requirement>>
    rectangle "PGE_REQ_MEM_02_02_06-2\nConservation de l'historique\nde simulation" as REQ6 <<requirement>>
}

package "Débogage" {
    rectangle "PGE_REQ_MEM_02_02_07-2\nSupporte l'enregistrement\nd'erreurs pour débogage\n- Gestion d'erreurs\n- Enregistrement d'erreurs\n- Traçabilité des erreurs\n- Effacement sécurisé des\n   données d'erreur\n- Déclaration des limites de\n   capacité" as REQ7 <<requirement>>
}

REQ2 -[hidden]d-> REQ3
REQ5 -[hidden]d-> REQ6

note right of REQ1 : Comportement de la\nmémoire d'un\nmicrocontrôleur avec\nRAM, Code Flash et\nData Flash
note right of REQ2 : Lecture, écriture et\neffacement de données\ndans la mémoire simulée
note right of REQ3 : Déployable sur\nWindows avec\ncompatibilité, utilisation\noptimale des ressources\nsystème et respect des\npolitiques de sécurité
note right of REQ7 : Enregistrement et\ngestion des erreurs pour\nle débogage avec traçabilité\ndes erreurs et effacement\nsécurisé des données d'erreur

@enduml